*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:linear-gradient(135deg,#e3f2fd,#ffffff);
    color:#333;
}

header{
    background:#0f172a;
    position:sticky;
    top:0;
    z-index:1000;
}

nav{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
}

nav ul{
    list-style:none;
    display:flex;
    gap:30px;
}

nav a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    transition:.3s;
}

nav a:hover,
.active{
    color:#38bdf8;
}

.hero{
    height:80vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
    url('https://images.unsplash.com/photo-1498050108023-c5249f4df085');
    background-size:cover;
    color:white;
}

.hero h1{
    font-size:3rem;
}

.hero p{
    margin:15px 0;
}

.btn{
    padding:12px 25px;
    background:#38bdf8;
    color:white;
    text-decoration:none;
    border-radius:5px;
}

.container{
    width:85%;
    margin:auto;
    padding:60px 0;
}

.section-title{
    text-align:center;
    margin-bottom:40px;
}

.cards{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;
}

.card{
    width:300px;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 4px 15px rgba(0,0,0,.1);
    transition:.4s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0px 20px blueviolet;
}

.testimonial{
    background:white;
    padding:20px;
    margin:15px;
    border-left:5px solid #38bdf8;
}

form{
    max-width:600px;
    margin:auto;
}

input,textarea{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    background:#38bdf8;
    color:white;
    border:none;
    padding:12px 25px;
    cursor:pointer;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}


.social a{
    color:#38bdf8;
    margin:0 10px;
    text-decoration:none;
}

.top-btn{
    position:fixed;
    right:20px;
    bottom:20px;
    background:#38bdf8;
    color:white;
    padding:10px 15px;
    border-radius:50%;
    text-decoration:none;
}

@media(max-width:768px){
    nav ul{
        flex-direction:column;
        text-align:center;
    }

    .hero h1{
        font-size:2rem;
    }

    .cards{
        flex-direction:column;
        align-items:center;
    }
}